.context {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 15px;
  font-size: 1.1em;
  width: 200px;
  height: auto;
  padding: 5px 0px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgb(0 0 0 / 24%);
  color: #333;
}
.context .context_item {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.context .context_item:hover {
  background-color: #ddd;
}
.context .context_item .inner_item {
  margin: 0px 10px;
  display: flex;
  align-items: center;
}
.context .context_hr {
  height: 1px;
  border-top: 1px solid #bbb;
  margin: 3px 10px;
}
